Vencord/
bpyrop/
environment.d/
eog/
gh/
laztgit/
nix-home-manager/
qalculate/
totem/
zed/
wireshark/
procps/
nextjs-nodejs/
go/
create-next-app-nodejs/
htop/
dconf/
evolution/
gnome-session/
goa-1.0/
gtk-2.0/
gtk-3.0/
gtk-4.0/
ibus/
libreoffice/
nautilus/
nitrogen/
pop-shell/
pop-system-updater/
pulse/
enchant/
gedit/
yarn/
touchegg/
.gsd-keyboard.settings-ported
gnome-initial-setup-done
mimeapps.list
*.xml*
user-dirs.*
